<footer class="footer">
    <div class="container-fluid">
        <div class="border-b">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-block-1">
                    <img src="img/logo.webp" alt="logo" class="logo-footer">
                    <p class="footer-text">25800 Carlos Bee Boulevard | Hayward, CA 94542<br>
                        510-885-3000</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-block-2">
                    <div class="copy   "><p>© 2020 California State University, East Bay. All rights reserved.</p></div>
                    <div class="social  ">
                        <a href="#">Facebook </a><a href="#">Twitter</a><a href="#">Instagram</a><a href="#">Pinterest</a>
                    </div>
                    <div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </div>
</footer>


<script src="js/main.min.js"></script>
